

body i{
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    opacity: 0;
    scale: var(--s);
    box-shadow: 0 0 10px blue;
    background-color: rgb(0, 140, 255);
    animation: hiding 1000ms forwards ease-out;
}



@keyframes hiding {
    0%{
        opacity:1;
        transform: translate(0,0) ;
    }

    50%{
        opacity: .2;
    }

    
    100%{
        opacity: 0;
        transform: translate(var(--x),var(--y))  ;
    
    }
    
}