.wraper {

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
    
}

@media (max-width: 1285px) {

    .wraper {

        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

}

@media (max-width: 767px) {

    .wraper {

        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

}


.cell {
    --size: 175px;
    --o: 0;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: min(350px,85vw);
    background-color: var(--bg-card);
    cursor: pointer;
    opacity: 0;
    padding: 1px;
    transition: all 500ms;
    animation: fadeIn .5s forwards;
}


.share-border::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    top: var(--y);
    left: var(--x);
    width: var(--size);
    opacity: var(--o);
    height: var(--size);
    filter: blur(30px);
    transition: opacity 0.3s;
    background: radial-gradient(var(--text) 20%, transparent 60%);

}

.share-border::after {
    content: '';
    border-radius: 9px;
    inset: 1px;
    position: absolute;
    background-color: var(--bg-card);
    opacity: 1;
    transition: 0.3s;
    mask-image: url(../shared-core/designe/grain0.svg);
    mask-size: 100% auto;
    mask-position: center;
    /* mask-type: luminance; */

}

.share-border .content {
    position: relative;
    z-index: 1;
    padding: 25px;
    transition: all 300ms;
    background-color: var(--bg-card);
    border-radius: 9px;
}

.share-border .content:hover {
    
    background-color: hsl(from var(--bg-card) h s l / 0.5);
    
}
